.logoContainer {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoImg {
  width: 100%;
  height: auto;
  display: block;
}
.logoLink {
  width: 75%;
  transition: all 0.3s;
}
.smallerLogoContainer {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem 0;
}
.LogoContainerDefault:hover .logoLink {
  width: 80%;
}
