.imageContainer {
  width: 42rem;
  transition: all 1s;
  border-radius: 1.5rem;
  overflow: hidden;
  opacity: 0;
  will-change: opacity, transform;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1243px) {
  .imageContainer {
    width: 100%;
    margin: 1.5rem 0;
  }
}
