.contactFormMainContainer {
  background-color: var(--hvppyGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  padding-top: 11rem;
}
/* .portraitImage {
} */
.formHeading {
  background-image: url('https://images.unsplash.com/photo-1480914362564-9f2c2634e266?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  border-radius: 1.5rem;
  width: 40%;
  height: 30rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
.formHeading h1 {
  font-size: 6.25rem;
}
.formHeading p {
  font-size: 1.25rem;
}
.formHeadingBottomContainer {
  position: absolute;
  width: 100%;
  top: 27.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 4.5rem;
}
.mailLink {
  line-height: 4rem;
}
.mailForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: black;
  width: 30%;
}
label,
input:not([type='submit']),
textarea {
  padding: 0.5rem 0.5rem;
  outline: none;
  border-radius: 0.5rem;
}
textarea {
  width: 100%;
  min-height: 200px;
}
input[type='submit'] {
  padding: 1.5rem;
  background-color: var(--hvppyPurple);
  color: white;
  cursor: pointer;
}
.topFormContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.textInput {
  width: 50%;
}
.textSubmit {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.submitInput {
  /* background-image: linear-gradient(to right top, #3d076b, #7a3dae); */
  background-image: radial-gradient(#7a3dae, #4f0e88);
  font-size: 1.3rem;
  position: absolute;
  top: 10.25rem;
  right: 1.2rem;
  border-radius: 59% 41% 56% 44% / 40% 58% 42% 60%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
.disabled {
  background-color: grey;
}
.inputContainer {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.inputContainer input {
  width: 100%;
}
.inputContainer p {
  color: red;
}
.errorMessage {
  opacity: 0;
  display: none;
}
.showErrorMessage {
  opacity: 1;
  display: block;
}
.errorBorder {
  border: 2px solid red;
}
@media screen and (max-width: 945px) {
  .formHeading {
    width: 70%;
  }
  .mailForm {
    width: 70%;
  }
}
@media screen and (max-width: 640px) {
  .formHeading {
    width: 100%;
    /* padding-left: 1rem; */
  }
  .mailForm {
    width: 100%;
  }
  .contactFormMainContainer {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 6rem;
  }
  .formHeading h1 {
    font-size: 5rem;
  }
}
