.contactFormMainContainer {
  background-image: url('../../../assets/contactFormBackground.svg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  padding-top: 15rem;
  overflow: hidden;
}
.formHeading {
  border-radius: 1.5rem;
  width: 40%;
  height: 30rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formHeading img {
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  opacity: 0;
  transition: all 1s;
}
.showImage {
  opacity: 1 !important;
}
.formHeading h1 {
  font-size: 6.25rem;
  filter: blur(5px);
  transform: translateX(-50%);
  opacity: 0;
  transition: all 1s;
}
.showElement {
  filter: blur(0) !important;
  transform: translateX(0) !important;
  opacity: 1 !important;
}
.formHeading p {
  font-size: 1.25rem;
  filter: blur(5px);
  transform: translateX(50%);
  opacity: 0;
  transition: all 1s;
}
.formHeadingBottomContainer {
  position: relative;
  width: 100%;
  top: -2.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 4.5rem;
}
.mailLink {
  line-height: 4rem;
}
.mailForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: black;
  width: 40%;
  filter: blur(1);
  transform: translateY(50%);
  opacity: 0;
  transition: all 1s;
  padding-top: 3rem;
  position: relative;
  top: 0;
}
label,
input:not([type='submit']),
textarea {
  padding: 0.5rem 0.5rem;
  outline: none;
  border-radius: 0.5rem;
}
textarea {
  width: 100%;
  min-height: 200px;
}
input[type='submit'] {
  padding: 1.5rem;
  background-color: var(--hvppyPurple);
  color: white;
  cursor: pointer;
}
.topFormContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.textInput {
  width: 50%;
}
.textSubmit {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.submitInput {
  /* background-image: linear-gradient(to right top, #3d076b, #7a3dae); */
  background-image: radial-gradient(#7a3dae, #4f0e88);
  font-size: 1.3rem;
  position: absolute;
  top: 10.25rem;
  right: 1.2rem;
  border-radius: 59% 41% 56% 44% / 40% 58% 42% 60%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
.disabled {
  background-color: grey;
}
.inputContainer {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.inputContainer input {
  width: 100%;
}
.inputContainer p {
  color: red;
}
.errorMessage {
  opacity: 0;
  display: none;
}
.showErrorMessage {
  opacity: 1;
  display: block;
}
.errorBorder {
  border: 2px solid red;
}
@media screen and (max-width: 1700px) {
  .mailForm {
    top: -2.5rem;
  }
  .contactFormMainContainer {
    padding-top: 11rem;
  }
}
@media screen and (max-width: 1500px) {
  .mailForm {
    top: -1rem;
    width: 50%;
  }
  .formHeading {
    width: 50%;
  }
  .contactFormMainContainer {
    padding-top: 12rem;
  }
}
@media screen and (max-width: 1300px) {
  .mailForm {
    top: 1rem;
    width: 65%;
  }
  .formHeading {
    width: 65%;
  }
  .contactFormMainContainer {
    padding-top: 14rem;
  }
}
@media screen and (max-width: 1200px) {
  .mailForm {
    top: -1rem;
  }
  .contactFormMainContainer {
    padding-top: 13rem;
  }
}
@media screen and (max-width: 1100px) {
  .mailForm {
    top: -3rem;
  }
  .contactFormMainContainer {
    padding-top: 11rem;
  }
}
@media screen and (max-width: 900px) {
  .mailForm {
    top: -5rem;
  }
  .contactFormMainContainer {
    padding-top: 8rem;
  }
}
@media screen and (max-width: 800px) {
  .mailForm {
    top: -4rem;
    width: 80%;
  }
  .formHeading {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .mailForm {
    top: -6rem;
  }
}
@media screen and (max-width: 600px) {
  .mailForm {
    top: -5rem;
    width: 100%;
  }
  .contactFormMainContainer {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .formHeading h1 {
    font-size: 5rem;
  }
  .formHeading {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .mailForm {
    top: -7rem;
  }
  .contactFormMainContainer {
    padding-top: 5rem;
  }
}
@media screen and (max-width: 400px) {
  .mailForm {
    top: -9rem;
  }
  .contactFormMainContainer {
    padding-top: 3rem;
  }
}
