.atributesContainer {
  position: relative;
  z-index: 5;
  padding: 4rem 0;
  background-image: url('../../../assets/atributesSection3.svg');
  /* aspect-ratio: 3/2; */
  background-position: center top -56px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.atributesContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
.show {
  opacity: 1;
}
.hide {
  opacity: 0;
}
.image {
  height: 10rem;
}
.spanSection {
  transition: all 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 2rem;
}
@media screen and (max-width: 1340px) {
  .atributesContainer {
    /* background-image: url('../../../assets/atributesSection2.svg'); */
  }
}
@media screen and (max-width: 1200px) {
  .atributesContainer {
    background-image: url('../../../assets/atributesSectionMobile.svg');
    background-position: center bottom;
  }
  .atributesContentContainer {
    padding-bottom: 7rem;
    flex-direction: column;
    gap: 3rem;
  }
}
