.logoContainer {
  width: 6rem;
  border-radius: 50%;
  overflow: hidden;
  transition: width 0.3s;
  /* background-color: var(--hvppyYellow); */
}
.logoContainer img {
  transform: scale(2);
  padding-right: 1px;
}
.smallerLogo {
  width: 4rem;
}
.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  padding-top: 0.5rem;
  transition: all 0.3s;
}
.darkenNav {
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 0;
}
.iconsList {
  display: flex;
  gap: 1rem;
}
.icon {
  transition: transform 0.2s ease-in-out;
}
.icon:hover {
  transform: scale(1.2);
}
