.formMainContainer {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.InputContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.input {
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  color: var(--black);
  width: 100%;
  outline: none;
}
.errorMsg {
  color: var(--red);
}
.newsletterSignedInHeader {
  text-align: center;
}
