.locationContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  background-color: var(--hvppyYellow);
  padding: 5rem 15rem;
  overflow: hidden;
}
.sectionContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  z-index: 2;
}
.responseMessageContainer {
  position: fixed;
  top: 10rem;
  right: 3rem;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  transition: all 2s;
  opacity: 0;
  transform: translate(50%);
}
.showCorrecResponseMessageContainer {
  opacity: 1;
  background-color: var(--hvppyGreen);
  transform: translate(0);
}
.showIncorrecResponseMessageContainer {
  opacity: 1;
  background-color: red;
  transform: translate(0);
}
.topRightSection {
  display: flex;
  gap: 4rem;
}
.newsLetterSendButton {
  margin-left: 1rem;
}
.newsletterForm {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.subsectionContainer {
  text-align: center;
}
.newsletterForm input {
  padding: 0.8rem 1rem;
}
.newsletterForm input[type='submit'] {
  border-radius: 5rem;
  padding: 0.8rem 1.5rem;
}
.subsectionHeading {
  margin-bottom: 1rem;
}
.errorBorder {
  border: 2px solid red;
}
.blobMotion {
  position: absolute;
  transform: translate(-48rem, -18rem);
  z-index: 1;
}
.bolbContainer {
  transform: scale(1.3);
}

@media screen and (max-width: 1669px) {
  .blobMotion {
    transform: translate(-43rem, -18rem);
  }
}

@media screen and (max-width: 1400px) {
  .locationContainer {
    flex-direction: column;
    padding: 2rem 1rem;
  }
  .blobMotion {
    transform: translate(-29rem, -29rem);
  }
}

@media screen and (max-width: 640px) {
  .sectionContainer {
    width: 100%;
    gap: 4rem;
  }
  .locationContainer {
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 2rem;
  }
  .topRightSection {
    flex-direction: column;
    z-index: 3;
  }
  .iframeContainer {
    width: 100%;
  }
  iframe {
    width: 100%;
  }
  .blobMotion {
    transform: translate(-28rem, -2rem);
  }
  .bolbContainer {
    transform: scale(-1);
  }
}
