.mainContainer {
  min-height: 100vh;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.topSectionContainer {
  width: 65%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10rem;
  text-align: center;
  padding: 7rem 0;
  padding-top: 11rem;
  position: relative;
}
.imagesContainer {
  position: relative;
}
.aboutPortrait2 {
  position: absolute;
  width: 55%;
  bottom: -7rem;
  right: -7rem;
  border: 1rem solid green;
}
.imageArticleContainer {
  width: 40%;
}
.tekstArticleContainer {
  width: 60%;
}
.bottomSectionContainer {
  width: 100%;
  padding: 6rem 0;
  background-color: red;
  text-align: center;
}
