.menuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--hvppyGreen);
  flex-grow: 1;
  padding-top: 6.5rem;
  flex: 1;
}
.categoryContainer {
  width: 20%;
  height: auto;
  position: relative;
  transition: all 1s;
}
.categoryContainer img {
  width: 100%;
}
.categoryContainerModal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1s;
}
.categoryContainerModal:hover {
  opacity: 1;
}
.categoryContainer:hover {
  transform: scale(1.03);
}
