.menuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-image: url('../../../assets/Artwork Images/menuBackground.svg');
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  padding-top: 6.5rem;
  flex: 1;
}
.categoryContentContainer {
  transition: all 1s;
  width: 100%;
  height: 100%;
}
.categoryContainer:hover .categoryContentContainer {
  transform: scale(1.03);
}
.categoryContainer {
  width: 320px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 30px;
  position: relative;
  transition: all 1s;
  border-radius: 1rem;
  filter: blur(1);
  transform: translateX(-50%);
  opacity: 0;
}
.categoryContainer:nth-child(2) {
  transition-delay: 200ms;
}
.categoryContainer:nth-child(3) {
  transition-delay: 400ms;
}
.categoryContainer:nth-child(4) {
  transition-delay: 600ms;
}
.categoryContainer img {
  width: 100%;
  height: 100%;
  max-height: fit-content;
  border-radius: 1rem;
}
.categoryContainerModal {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 1s;
  font-weight: bold;
  font-size: 1.5rem;
}
/* .categoryContainerModal:hover {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
} */
.showElement {
  filter: blur(0);
  transform: translateX(0);
  opacity: 1;
}

@media screen and (max-width: 1550px) {
  .menuContainer {
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 8rem;
  }
}

@media screen and (max-width: 640px) {
  .menuContainer {
    flex-wrap: wrap;
    padding: 6rem 2rem 2rem 2rem;
  }
  .categoryContainer:hover {
    transform: scale(1);
  }
  .categoryContainerModal {
    opacity: 1;
    background-color: transparent;
  }
}
