.showIconTop {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 1s;
}
.hideIconTop {
  filter: blur(5px);
  transform: translateY(-50%);
  opacity: 0;
}
.showIconBottom {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 1s;
}
.hideIconBottom {
  filter: blur(5px);
  transform: translateY(50%);
  opacity: 0;
}
