.photosColumn {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.artworkPhoto {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 900px) {
  .photosColumn {
    width: 100%;
  }
}
