.imageArticleContainer {
  width: 20rem;
  display: flex;
  align-items: center;
}
.aboutImagesContainer {
  position: relative;
  width: 100%;
  opacity: 0;
}
.aboutImg1 {
  width: 20rem;
  height: auto;
}
.aboutImg2 {
  width: 10rem;
  position: absolute;
  bottom: -5rem;
  right: -3rem;
}
@media screen and (max-width: 1066px) {
  .aboutImagesContainer {
    display: flex;
    justify-content: center;
  }
  .aboutImg2 {
    position: relative;
    bottom: auto;
    right: auto;
  }
}
@media screen and (max-width: 1066px) {
  .aboutImg2 {
    width: 20rem;
  }
}
