@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
