@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --green: rgb(26, 196, 51);
  --purple: rgb(147, 39, 239);
  --yellow: rgb(242, 179, 0);
  --white: #fff;
  --black: #000;
  --red: #ff0000;
  --roundedCorners: 1.5rem;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  color: var(--white);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--white);
}
a:visited {
  color: var(--white);
}
a:active {
  color: var(--white);
}
.active {
  text-decoration: underline;
  text-underline-offset: 4px;
}
h1 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-family: 'Anton', sans-serif;
}
h2 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-family: 'Anton', sans-serif;
}
