@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  margin: 0;
  background-color: var(--hvppyPurple);
}
* {
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}
:root {
  --hvppyGreen: rgb(26, 196, 51);
  --hvppyPurple: rgb(147, 39, 239);
  --hvppyYellow: rgb(242, 179, 0);
}
body {
  color: white;
  font-family: 'Lato', sans-serif;
}
img,
svg,
video,
canvas,
audio,
iframes,
embed,
object {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  margin: 0;
}
h2 {
  font-size: 2.2rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  margin: 0;
}
h3 {
  line-height: 1.8rem;
  margin: 0;
}
p {
  line-height: 1.7rem;
  margin: 0;
}
ul {
  list-style-type: none;
}
link::after {
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}
a:active {
  color: white;
}
a {
  -webkit-tap-highlight-color: transparent;
}
.active {
  text-decoration: underline;
  text-underline-offset: 4px;
}
